:root{
    --cor1: #808D7C;
    --cor2: #C9DABF;
    --cor3: #9CA986;
    --cor4: #5F6F65;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--cor1);
    text-align: center;
    font-size: 1.2rem;
}

.cabecalho{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho__titulo{
    width: 99vw;
    max-width: 800px;
    padding: 0.5rem;
    margin: 0.5vh 0.5vw;
    border-radius: 1rem;
    background-color: var(--cor4);
}

.cabecalho__menu{
    width: 99vw;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.cabecalho__menu__botao{
    width: 33%;
    padding: 0.5rem 0;
    margin: 0.5vh 0;
    border-radius: 1rem;
    background-color: var(--cor4);
    cursor: pointer;
    text-decoration: none;
}

.cabecalho__menu__botao:hover{
    background-color: yellow; 
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabela{
    max-width: 800px;
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    line-height: 1.5;
    border-radius: 0.5rem;
}

th, td {
    cursor: pointer;
    border: 0.1rem solid var(--cor4);
    border-radius: 0.5rem;
}

.formulario{
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 0.5rem solid var(--cor4);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario__item{
    width: 90%;
}

.input{
    padding: 0.5rem 0;
    border: 0.1rem solid var(--cor4);
    border-radius: 0.5rem;
    background-color: var(--cor1);
    text-align: center;
}

.submit{
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    border: 0.1rem solid var(--cor4);
    border-radius: 0.5rem;
    background-color: var(--cor4);
    cursor: pointer;
}

.submit:hover{
    background-color: yellow; 
}

.hidden{
    display: none;
}

@media (max-width: 800px) {
    .cabecalho__menu{
        flex-direction: column;
    }
    .cabecalho__menu__botao{
        width: 99%;
    }
}