body {
    background-color: grey;
    text-align: center;
    font-size: 24px;
}

h1{
    color: Navy;
}

table{
    max-width: 800px;
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    line-height: 1.5;
    background-color: purple;
    border: 1px solid black;
    border-radius: 10px;
}

th, td {
    border: 2px solid purple;
    border-radius: 10px;
    background-color: grey;
    border-color: purple;
    cursor: pointer;
}
