html, body {
    background-color: grey;
    text-align: center;
    font-size: 24px;
    height: 100%; /* Garante que a altura da página seja 100% */
    margin: 0; /* Remove margens padrão do body */
    padding: 0; /* Remove padding padrão do body */
}

header, footer {
    height: 10%; /* Cada um ocupa 10% da altura */
    background-color: lightblue; /* Cor de fundo (pode ser ajustada) */
}

nav{
    height: 10%; /* Cada um ocupa 10% da altura */
    background-color: yellow; /* Cor de fundo (pode ser ajustada) */
}

main {
    height: 70%; /* O main ocupa 70% da altura */
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1{
    color: Navy;
}

table{
    max-width: 800px;
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    line-height: 1.5;
    background-color: purple;
    border: 1px solid black;
    border-radius: 10px;
}

th, td {
    background-color: grey;
    cursor: pointer;
    border: 2px solid purple;
    border-radius: 10px;
}
